body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#admin-content {
    display: none; /* Hidden by default */
    flex-direction: column;
    height: 100%;
}

header {
    flex-shrink: 0;
}

h1 {
    text-align: center;
    color: #b9f5d8;
    font-size: clamp(2rem, 4vw, 3.5rem);
    margin: 2vh auto;
}

.table-container {
    max-width: 800px;
    width: calc(100% - 4em);
    margin: 0 auto 2vh;
    overflow-y: auto;
    background: #021a10;
    border-radius: 8px;
    border: 1px solid #aad2ba;
    flex-grow: 1;
    min-height: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #aad2ba;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #2a4a3a;
    white-space: nowrap;
}

thead th {
    background-color: #052515;
    color: #b9f5d8;
    position: sticky;
    top: 0;
    z-index: 1;
}

tbody tr:nth-of-type(even) {
    background-color: #032014;
}

tbody tr:hover {
    background-color: #052515;
    color: #b9f5d8;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-shrink: 0;
    margin:2em;
}

footer .authors {
    text-align: right;
}

/*.search_button {*/
/*    padding: 8px 16px;*/
/*    background-color: #052515;*/
/*    color: #b9f5d8;*/
/*    border: 1px solid #aad2ba;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/

/*.search_button:hover {*/
/*    background-color: #083b22;*/
/*}*/

.home_button {
    background-color: #011109;
    color: #aad2ba;
    border: solid #aad2ba 1px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.home_button:hover {
    background-color: #b9f5d8;
    color: #052515;
    border-color: #b9f5d8;
    box-shadow: 0 0 10px #b9f5d8;
}