html {
    overflow: hidden;
}

body{
    background-image: url("../images/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5em; /* Add padding to prevent content from hiding behind the fixed footer */
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.container_title {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.title-and-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    max-width: 35vw;
}

h1 {
    font-family: 'Bonheur Royale', serif;
    font-size: 6vw;
    text-align: center;
    align-self: center;
    margin-bottom: 0.5em;
}

button {
    font-size: 1.5vw;
    width: 15vw;
    color: #aad2ba;
    background-color: transparent;
    border-color: #aad2ba;
    border-radius: 16px;
    border-style: double;
    border-width: 6px;
}
.logo{
    max-width: 100%;
    max-height: 100%;
    width: 25vw;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

button:hover{
    background-color: #b9f5d8;
    color: #052515;
    border-color: #b9f5d8;
    box-shadow: 0 0 10px #b9f5d8; /* Add a soft glow effect */
}

.linkedin{
    color: #b9f5d8;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.4s ease, color 0.4s ease;
}


.linkedin:hover {
    color: #0a66c2;
    transform: scale(1.05);
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #06180f;
    color: #aad2ba;
    text-align: center;
    padding: 1.5em;
    will-change: transform;
}

.railway, .TMDB{
    color: #b9f5d8;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.4s ease;
}


.railway:hover, .TMDB:hover {
    color: #aad2ba;
    transform: scale(1.05);
}


@media (max-width: 1024px) {
    .container_title {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        width: 30vw;
        margin-bottom: 1em;
    }

    .button-container {
        max-width: 70vw;
    }

    button {
        width: 30vw;
        font-size: 2.5vw;
    }

    h1 {
        font-size: 8vw;
    }
}

@media (max-width: 799px) {
    .button-container {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 50vw;
        font-size: 3.5vw;
    }
    footer{
        font-size: 3vw;
    }
}

@media (max-width: 499px) {
    .logo {
        margin-top: -20vh;
    }
}