body{
    background-color: rgb(10, 14, 2);
    color: #d3d3d3;
}
h1{
    text-align: center;
}

.linkedin{
    color: #fff373;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.3s ease;
}


.linkedin:hover {
    text-decoration: underline;
    transform: scale(1.1);
}


footer{
    text-align: right;
}