body{
    background-image: url("../images/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #d3d3d3;
    background-color: #011109;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container_title{
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.logo{
    max-width: 100%;
    max-height: 100%;
    width: 25vw;
}
h1{
    font-family: 'Century', serif;
    font-size: 4vw;
    margin-left: 1em;
    text-align: center;
    align-self: center;
}

button{
    font-size: 2vw;
}

.linkedin{
    color: #fff373;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.3s ease;
}


.linkedin:hover {
    text-decoration: underline;
    transform: scale(1.1);
}


footer{
    text-align: right;
    margin-right: 2em;
}